@model Firma.Data.Models.Rezerwacja

@{
    ViewData["Title"] = "Dodaj";
}

<h1>Dodawanie</h1>

<h4>Rezerwacja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataOd" class="control-label"></label>
                <input asp-for="DataOd" class="form-control" />
                <span asp-validation-for="DataOd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDo" class="control-label"></label>
                <input asp-for="DataDo" class="form-control" />
                <span asp-validation-for="DataDo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="input-group mb-3 mt-3">
                <input type="text" id="searchInput" class="form-control" placeholder="Szukaj klienta...">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" asp-for="KlientId">Klient</label>
                <select asp-for="KlientId" class="form-select" asp-items="ViewBag.KlientId" id="dropdown">
                    <option selected>Wybierz...</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" asp-for="ProduktId">Produk</label>
                <select asp-for="ProduktId" class="form-select" asp-items="ViewBag.ProduktId" id="dropdown">
                    <option selected>Wybierz...</option>
                </select>
            </div>
            <div class="form-group" style="margin-top: 5px;">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-top: 5px;">
    <a asp-action="Index">
        <button type="button" class="btn btn-danger">Anuluj</button>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById("searchInput").addEventListener("keyup", function() {
            let filter = this.value.toLowerCase();
            let dropdown = document.getElementById("dropdown");
            let options = dropdown.getElementsByTagName("option");

            for (let i = 1; i < options.length; i++) {
                let txtValue = options[i].textContent || options[i].innerText;
                options[i].style.display = txtValue.toLowerCase().includes(filter) ? "" : "none";
            }
        });
    </script>
}
