@model Firma.Data.Models.Pracownik

@{
    ViewData["Title"] = "Edycja";
}

<h1>Edycja</h1>

<h4>Pracownik</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Haslo" class="control-label"></label>
                <input asp-for="Haslo" class="form-control" />
                <span asp-validation-for="Haslo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stanowisko" class="control-label"></label>
                <input asp-for="Stanowisko" class="form-control" />
                <span asp-validation-for="Stanowisko" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 5px;">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-top: 5px;">
    <a asp-action="Index">
        <button type="button" class="btn btn-danger">Anuluj</button>
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
