@{
    ViewData["Title"] = "Home Page";
}

<div class="container align-content-center">
    <div class="container text-center">
        <div class="row">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    
                    @for (int i = 0; i < 3; i++)
                    {
                        <div class="carousel-item active">
                            <img src="~/content/case1.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Super obudowa @(i+1) </h5>
                            </div>
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="row mt-3 ">
            <h2 class="text-start">Bestsellery</h2>
            @for (int i = 0; i < 4; i++)
            {
                <div class="col-12 col-md-6 col-lg-3 mb-1">
                    <div class="card" style="width: 18rem;">
                    <img src="~/content/CPUjpg.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Super procesor @(i+1) </h5>
                            <p class="card-text">16 core, 32 TH, 4.4GHz</p>
                            <a href="#" class="btn btn-secondary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
