@{
    Layout = "~/Views/Shared/_IntranetTableLayout.cshtml";
    ViewData["Title"] = "Klienci";
}

@section Tabela {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Telefon</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Anna</td>
                <td>Nowak</td>
                <td>anna@example.com</td>
                <td>123456789</td>
            </tr>
        </tbody>
    </table>
}
