@{
    Layout = "~/Views/Shared/_IntranetTableLayout.cshtml";
    ViewData["Title"] = "Rezerwacje";
}

@section Tabela {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Klient</th>
                <th>Sprzęt</th>
                <th>Data rezerwacji</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Jan Kowalski</td>
                <td>Laptop Dell</td>
                <td>2025-04-06</td>
                <td>Aktywna</td>
            </tr>
        </tbody>
    </table>
}
