@{
    Layout = "~/Views/Shared/_IntranetTableLayout.cshtml";
    ViewData["Title"] = "Sprzęt";
}

@section Tabela {
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Kategoria</th>
                <th>Status</th>
                <th>Lokalizacja</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Router TP-Link</td>
                <td>Sieciowy</td>
                <td>Dostępny</td>
                <td>Magazyn A</td>
            </tr>
        </tbody>
    </table>
}
