@model IEnumerable<Firma.Data.Models.Kategoria>

@{
    ViewData["Title"] = "Kategorie produktów";
    Layout = "~/Views/Shared/_IntranetTableLayout.cshtml";
}

@section Tabela{
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Id" style="margin-right: 5px; text-decoration: none;">
                        <button type="button" class="btn btn-primary">Edytuj</button>
                    </a>

                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <button type="button" class="btn btn-danger">Usuń</button>
                    </a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
}
