@{
    Layout = "~/Views/Shared/_IntranetHomeLayout.cshtml";
    ViewData["Title"] = "Panel główny";
}

@section NajblizszeRezerwacje {
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Najbliższe rezerwacje</h5>
            <p class="card-text">Brak zaplanowanych rezerwacji.</p>
        </div>
    </div>
}

@section Wiadomosci {
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Wiadomości</h5>
            <p class="card-text">Brak nowych wiadomości.</p>
        </div>
    </div>
}

@section Opoznienia {
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Opóźnienia w oddaniu sprzętu</h5>
            <p class="card-text">Wszystkie zwroty na czas.</p>
        </div>
    </div>
}

@section ProsbyOWypozyczenie {
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Prośby o wypożyczenie</h5>
            <p class="card-text">Brak nowych próśb.</p>
        </div>
    </div>
}

@section NajnowszySprzet {
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Nowo dodany sprzęt</h5>
            <p class="card-text">Brak nowych pozycji.</p>
        </div>
    </div>
}

@section StatystykaUzytkownikow {
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Aktywność użytkowników</h5>
            <p class="card-text">0 aktywnych dzisiaj.</p>
        </div>
    </div>
}

@section Alerty {
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">Alerty</h5>
            <p class="card-text">Brak alertów systemowych.</p>
        </div>
    </div>
}
